:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('weather.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(82, 82, 82, 0.301);
  height: 100vh;
  width: 240px;
  align-items: center;
}

.title {
  margin: 0px;
  margin-top: 15px;
}

.dashboard-button {
  margin: 0px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 26px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1074px;
}

.summarization {
  display: flex;
  margin: 0px;
  margin-top: 40px;
  width: 900px;
  height: 200px;
  gap: 20px;
}

.max-temp {
  background-color: rgba(82, 82, 82, 0.301);
  width: 286px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.min-temp {
  background-color: rgba(82, 82, 82, 0.301);
  width: 286px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.num-days {
  background-color: rgba(82, 82, 82, 0.301);
  width: 286px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.dashboard {
  background-color: rgba(82, 82, 82, 0.301);
  height: 77vh;
  width: 900px;
  margin: 0px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search {
  margin: 0px;
  margin-top: 15px;
  height: 20px;
}

.check-group {
  display: flex;
  gap: 10px;
  margin: 0px;
  margin-top: 15px;
}

.data {
  width: 100%;
  border-collapse: collapse;
  margin: 0px;
  margin: 20px;
}

td {
  text-align: center;
  vertical-align: middle;
}

.details {
  height: 400px;
  width: 700px;
  background-color: rgba(82, 82, 82, 0.301);
  margin: 0px;
  margin-left: 200px;
  margin-top: 30px;
  border-radius: 15px;
  align-self: center;
}

.info {
  margin: 0px;
  margin-left: 25px;
  margin-top: 20px;
}

.detail-link {
  text-decoration: none;
}